body {
   background: repeating-radial-gradient(circle,red,yellow);
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgb(233, 238, 234);
    color: rgb(14, 11, 20);
    margin-bottom: 30px;
}

ol {
    list-style-type:none;
    padding-left: 0;
}

li {
    margin-bottom: 20px;
}

button {
    cursor: pointer;
    color: white;
    background-image: linear-gradient(to right, rgb(236, 22, 22), rgb(0, 17, 17));
    border: 2px solid;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    /* transition: background 0.3s ease; */
}

button:hover {
    background-image: linear-gradient(to right, rgb(0, 17, 17), rgb(236, 22, 22));
}

.fa-display-chart-up, .fa-train, .fa-youtube, .fa-code, .fa-github, .fa-x, .fa-tv, .fa-magnifying-glass {
    margin-left: 10px;
    color: rgb(255, 215, 0);
}