.heading{
    text-align: center;
}
.textarea{
    display: flex;
    flex-direction:column;
    justify-content: center;
    margin: 1%;
}
.save{
    background-color: rgb(24, 250, 24);
    margin: 2.5%;
    padding: 0.4%;
}
.save:hover{
    background-color: rgb(1, 118, 1);
    color: aliceblue;
}

.noteItem {
    background-color: #f2f2f2;
    padding: 10px;
    margin: 10px auto;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}
