<%- include('Partials/Header', { pageTitle: "Airbnb Home" }) %>
</head>
<body>
    <h1>Welcome to Airbnb</h1>
    <a href="/add-home">Add Home</a>

    <ul>
        <% registeredHomes.forEach(home => { %>
            <li><%= home.houseName %></li>
        <% }) %>
    </ul>
</body>
</html>
